# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Database
# =========================
database/
*.db
*.sqlite
*.sqlite3

# =========================
# Virtual Environment
# =========================
venv/
.venv/

# =========================
# Python Cache
# =========================
__pycache__/
*.py[cod]

# =========================
# Uploaded Files
# =========================
uploads/

# =========================
# Generated Reports
# =========================
reports/

# =========================
# Temporary Files
# =========================
*.tmp
*.log